/* =================================
            Body
================================= */

body {
    background-image: url(../img/bg.png);
}

.content {
    min-height: calc(100vh - 70px);
}

/* =================================
            Nav Bar
================================= */

#logo {
    width: 250px;
    padding: 15px;
    margin-left: 15px;
}

#navbarNavAltMarkup a {
    color: #1a1a1a;
}

#navbarNavAltMarkup a:hover,
#navbarNavAltMarkup .active {
    color: #dc3644;
}

.btn-danger {
    background-color: #dc3644;
    margin-right: 15px;
}

/* =================================
            Banner
================================= */

.jumbotron-fluid {
    background-image: url(../img/banner.jpg);
    color: #dc3644;
}

#jumboContent {
    margin: 0 150px;
    padding: 15px 0;
    background-color: rgba(223, 223, 223, 0.5);
    border-radius: 8px;
}

/* =================================
            Main Content
================================= */



/* =================================
            Footer
================================= */

.footer {
    height: 75px;
}

footer {
    background: #42A5F5;
    color: white;
    line-height: 70px;
    padding: 0 20px;
}

footer a {
    color: #dc3644;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
}